<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TeamsApp</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>

    <div class="chat-container">
    <header class="chat-header">
        <h1><i class="fas fa-smile"></i> TeamsApp</h1>
        <a id="leave-btn" class="btn" onclick="newmeet()">Create Meet</a>
        <a id="leave-btn" class="btn" onclick="meet()">Meet Now</a>
      </header>
    <div id="chat-main" style="overflow-y: scroll; max-height: 700px; padding: 40px 40px;">
      <!-- messages will display here -->
      <ul id="messages"></ul>
   </div>
      <!-- form to send message -->
      <div class="message-form-container">
        <form id="message-form">
          <input id="message-input" type="text" placeholder="Enter Message" autocomplete="off"/>
          <button id="message-btn" class="btn" type="submit">Send</button>
        </form>
      </div>
   </div>


    <!-- scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>
