<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TeamsApp</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
  </head>
  <body style="background-color: #d4af7a">
    <div class="end" style="text-align: centre; padding: 5% 27%;">
      <h2 style="text-align: centre; font-size: 4rem;"><b>You left the meeting</b></h2>
      <h2 style="text-align: centre; font-size: 2rem; padding-left: 9%;"><b>Thanks for using the Teams App</b></h2>
    </div>

  </body>
</html>
